<h1 class="h4 titulo">Cadastro de Produto</h1>
<label for="inputNome" class="sr-only">Nome</label>
<input type="text" id="inputNome"
       name="nome" placeholder="Nome do produto"
       class="form-control mb-1 col-md-4"
       [ngClass]="{
           'is-invalid':nome.invalid && (nome.dirty || nome.touched),
           'is-valid':nome.valid && (nome.dirty || nome.touched)
           }"
       [(ngModel)]="produto.nome"
       #nome="ngModel"
       required />
<div class="invalid-feedback mb-1" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
  <div *ngIf="nome.errors.required">
    Nome do produto deve ser preenchido
  </div>
</div>


<label for="inputDescricao" class="sr-only">Descricao</label>
<input type="text" id="inputDescricao"
       name="descricao" placeholder="Descrição do produto"
       class="form-control mb-1 col-md-4"
       [ngClass]="{
           'is-invalid':descricao.invalid && (descricao.dirty || descricao.touched),
           'is-valid':descricao.valid && (descricao.dirty || descricao.touched)
           }"
       [(ngModel)]="produto.descricao"
       #descricao="ngModel"
       required />
<div class="invalid-feedback mb-1" *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)">
  <div *ngIf="descricao.errors.required">
    Descrição deve ser preenchido
  </div>
</div>


<label for="inputPreco" class="sr-only">Preco</label>
<input type="number" id="inputPreco"
       name="preco" placeholder="Preço do produto"
       class="form-control mb-1 col-md-4"
       [ngClass]="{
           'is-invalid':preco.invalid && (preco.dirty || preco.touched),
           'is-valid':preco.valid && (preco.dirty || preco.touched)
           }"
       [(ngModel)]="produto.preco"
       #preco="ngModel"
       required />
<div class="invalid-feedback mb-1" *ngIf="preco.invalid && (preco.dirty || preco.touched)">
  <div *ngIf="preco.errors.required">
    Preço deve ser preenchido
  </div>
</div>


<div class="input-group mb-1">
  <div class="custom-file col-md-4">
    <input type="file" class="custom-file-input" id="inputGroupFile" (change)="inputChange($event.target.files)"/>
    <label class="custom-file-label" for="inputGroupFile">Escolha uma foto</label>
  </div>
</div>
  <button class="btn btn-primary" (click)="cadastrar();" [disabled]="ativar_spinner">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
  Cadastrar
  </button>

